# Ignore all csv files
*.csv
# But except currency_rates.csv
!kazantsev/currency_rates.csv
!kazantsev/vacancies_one_currency.csv

# Venv is ignored automaticly die to .gitgonre inside the venv folder.
# It's written just to ensure and complete the task.
venv/

# Ignore IDEA files
.idea/

# Igonre any pycache folder
**/__pycache__/

# Git orig files
*.orig