# Ignore csv
*.csv

# Venv is ignored automaticly die to .gitgonre inside the venv folder.
# It's written just to ensure and complete the task.
venv/

# Ignore IDEA files
.idea/

# Igonre any pycache folder
**/__pycache__/

# Git orig files
*.orig